.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#searchBar {
  display: flex;
  width: 50%;
}

#authorPhoto {
  width: 200px;
  height: 200px;
}

#authorPhoto img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


#dbSwitch {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#dbSwitch button {
  margin: 0 10px;
}
